@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat",sans-serif;
}

.container {
  max-width: 1490px;
  padding: 0 25px;
  margin: 0 auto;
}

@layer components {
  .main-layout {
    @apply flex justify-around items-center flex-wrap text-center gap-8
    sm:text-left
  }
}